
#title-text {
    position: absolute;
    width: 520px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -260px;
    margin-top: -125px;
    color: black;
    font-size: 40px;
}​

.input {
    width: 600px;
    height: 50px;
    top: 40%;
    left: 40%;
}
