.jumbotron {
    background-color: white;
    padding-top: 140px;
    padding-bottom: 30px;
}

.country-input {
    padding-top: 40px;
}

#queried-country {
    text-align: center;
    padding-bottom: 45px;
    font-size: 40px;
}

.similarity-results {
    color: inherit;
    list-style-type: none;
    display: none;
}

#click-countries-hint {
  text-align: center;
  font: 20px/1.5 Helvetica, sans-serif;
  margin-bottom: 40px;
}

.hows-this-work {
    font-size: 30px;
}

.hows-this-work > p {
    padding: 20px;
    margin-top: 90px;
    margin-bottom: 20px;
}

.hows-this-work > ol > li {
    font-size: 20px;
    margin: 10px;
}

